h1
{
	text-align:center;
	font-size:80px;
	color:blue;
	text-shadow:8px 5px 15px red;
	
}

h2
{
	text-align:center;
	font-size:50px;
	color:blue;
	text-shadow:8px 5px 15px red;
	
}

body
	{
	background-image:url("images(17).jpg");
	background-repeat:repeat;
	background-repeat:repeat;
	background-attachment:fixed;
	}

.t10
{
	font-size:30px;
	color:orange;
	text-shadow:5px 5px 10px brown;
    	padding: 10px;
   	 text-align: left;
 }

.t11
{
	font-size:30px;
	text-shadow:5px 5px 10px brown;
    	padding: 10px;
   	 text-align: center;
 }

a
{
color:skyblue;
text-decoration:none;
}

a:hover
{
color:red;
}

a:active
{
color:green;
}


.t1
{
	background-color:gray;
	font-size:30px;
	color:skyblue;
	text-shadow:5px 5px 10px brown;
    	padding: 5px;
   	 text-align: center;
}

#s1
{
	font-size:175px;
	color:orange;
	text-shadow:5px 5px 10px brown;
    	padding: 10px;

 }

#s2
{
	font-size:100px;
	color:black;
	text-shadow:5px 5px 10px brown;
    	padding: 10px;

 }
